<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="foobartender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="foobartender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <foobartender.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </foobartender.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <foobartender.Properties.Settings>
            <setting name="VatRate" serializeAs="String">
                <value>19.00</value>
            </setting>
            <setting name="DatabaseHost" serializeAs="String">
                <value>MADNESS\SQLEXPRESS</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>restdb</value>
            </setting>
            <setting name="OwnCompanyId" serializeAs="String">
                <value>7</value>
            </setting>
        </foobartender.Properties.Settings>
    </applicationSettings>
</configuration>